* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	display: flex;
	align-items: center;
}
a.active {
	color: #db4f4a !important;
}
svg {
	display: block !important;
}
img.avt_cat {
	max-width: 100% !important;
	height: 230px !important;
	object-fit: cover;
	width: 100%;
	transition: all 0.4s ease-in-out !important;
	cursor: pointer;
}

img.avt_cat:hover {
	transition: all 0.4s ease-in-out !important;
	transform: scale(1.2);
}
@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
